
<md-dialog aria-label="{{value.name}} class detail" style="min-width: 60%;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="font-size: 18px;">{{value.name}} del {{shortCalendarDate}} - {{letteralDay}}</h2>
                   ore {{time.start}} - {{time.end}}
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content id="new_gateways_container">

                    <div layout="row">

                        <div flex="50" style="border-right: 1px solid #e3e3e3; padding-right: 16px;">
                            <div layout="row" layout-align="center center" class="rowStyle">
                                <span flex="40">Seleziona Corso</span>
                                <select flex="60" aria-label="Property list" placeholder="Seleziona Corso"
                                        class="form-control" ng-model="selectedCorso"
                                        ng-options="i.id as i.nome for i in Corsi" ng-disabled="disableModify">
                                </select>
                            </div>
                            <div layout="row" layout-align="center center" class="rowStyle">
                                <span flex="40">Istruttore</span>
                                <select flex="60" aria-label="Property list" placeholder="Seleziona Istruttore"
                                        class="form-control" ng-model="selectedIstruttore" ng-disabled="disableModify"
                                        ng-options="i.id as i.nome + ' ' + i.cognome for i in Istruttori">
                                </select>
                            </div>
                            <div layout="row" layout-align="center center" class="rowStyle">
                                <span flex="40">Piscina</span>
                                <!--<select disabled flex="60" aria-label="Property list" placeholder="Seleziona Piscina"-->
                                <!--class="form-control" ng-model="selectedPiscine"-->
                                <!--ng-options="i.id as i.nome for i in Piscine">-->
                                <!--</select>-->
                                <select flex="60" aria-label="Property list" placeholder="Seleziona Piscina"
                                        class="form-control" ng-model="selectedPiscine"
                                        ng-disabled="value !== undefined"
                                        ng-options="i.id as i.nome for i in Piscine">
                                </select>
                            </div>
                            <div layout="row" layout-align="center center" class="rowStyle">
                                <span flex="40">Corsia</span>
                                <!--<select disabled flex="60" aria-label="Property list" placeholder="Seleziona Corsia"-->
                                <!--class="form-control" ng-model="selectedCorsia"-->
                                <!--ng-options="i.id as i.nome for i in Corsie">-->
                                <!--</select>-->
                                <select flex="60" aria-label="Property list" placeholder="Seleziona Corsia"
                                        class="form-control" ng-model="selectedCorsia" ng-disabled="value !== undefined"
                                        ng-options="i.id as i.nome for i in Corsie">
                                </select>
                            </div>
                            <div layout="row" layout-align="center center" class="rowStyle" ng-if="value === undefined">
                                <span flex="40">Posti</span>
                                <input type="number" flex="60" aria-label="Property list" class="form-control"
                                       placeholder="Massimo numero di posti" ng-model="$parent.selectedPosti"/>
                            </div>
                        </div>

                        <div flex="50" style="padding-left: 16px;">
                            <div layout="row" layout-align="center center" class="rowStyle">
                                <md-autocomplete flex md-items="a in query(searchText)" md-search-text="searchText"
                                                 md-item-text="itemText(a)" md-min-length="0"
                                                 placeholder="Aggiungi Partecipante" md-selected-item="selectedItem"
                                                 md-selected-item-change="itemChanged(a)">
                                    <md-item-template>
                                        <span md-highlight-text="searchText" md-highlight-flags="gi">{{a.nome}} {{a.cognome}}</span>
                                    </md-item-template>
                                    <md-not-found>Nessun risultato.</md-not-found>
                                </md-autocomplete>
                            </div>
                            <div layout="row" layout-align="center center" class="rowStyle">
                                <md-list flex>
                                    <md-list-item ng-repeat="u in Users">
                                        <md-checkbox ng-model="u.presente" ng-disabled="disableModify"></md-checkbox>
                                        <p>{{u.nome}} {{u.cognome}}</p>
                                        <md-icon class="md-secondary" ng-click="deleteParticipant(u.id)"
                                                 ng-disabled="disableModify" aria-label="delete participant">
                                            <i class="material-icons">delete</i>
                                        </md-icon>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <div layout="row" layout-align="end end" class="rowStyle" ng-if="value === undefined">
                                <md-button class="md-raised md-primary" ng-click="addPrenotazione()">CREA</md-button>
                            </div>
                        </div>
                    </div>

                </md-content>

            </div>
        </md-dialog-content>

        <!--<md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="createNewEvent()" style="padding: 0 10px;">Add Event</md-button>
        </md-dialog-actions>-->

    </form>
</md-dialog>