<style type="text/css">
    .redBoarder {
    }

    .backgrey {

        background-color: #f5f5f5 !important;
    }

    .labelora {
        font-size: 14px !important;
        padding-left: 8px !important;
    }

    .redBoarder .md-icon {
        border-color: red;
    }

    .md-toolbar-tools {
        min-height: 50px !important;
        height: 50px !important;
    }

    .label {
        font-size: 14px !important;
        color: #ffffff !important;
    }

    .uli-color-bar {
        background-color: rgb(33, 150, 243) !important;
    }
</style>

<md-dialog aria-label="Add a new instructor" style="min-width: 50%;">
    <form ng-cloak>
        <md-toolbar class="uli-color-bar md-toolbar-tools">
            <div class="md-toolbar-tools">
                <h2>Aggiungi Nuovo Istruttore</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
        
        <md-card style="margin-top: 10px;">
<!--             <div class="md-dialog-content"> -->

                <md-content id="new_class_container">

                    <div layout="row" layout-wrap>
                        <p flex="100" style="margin: 0;">Inserisci le seguenti informazioni:</p>
                        <md-list flex="100">
                            <md-list-item>
                                <span flex="40">Nome</span>
                                <md-input-container flex class="md-block" placeholder="Nome" style="margin: 0;">
                                    <input ng-model="newInstructor.nome">
                                </md-input-container>
                            </md-list-item>
                            <md-list-item>
                                <span flex="40">Cognome</span>
                                <md-input-container flex class="md-block" placeholder="Cognome" style="margin: 0;">
                                    <input ng-model="newInstructor.cognome">
                                </md-input-container>
                            </md-list-item>
                            <md-list-item>
                                <span flex="40">Data Nascita</span>
                                <md-input-container flex class="md-block" placeholder="Cognome" style="margin: 0;">
                                    <input ng-model="newInstructor.data_nascita">
                                </md-input-container>
                            </md-list-item>
                            <md-list-item>
                                <span flex="40">Corsi seguiti</span>
			                    <div layout="column">
									<md-checkbox  ng-model="newInstructor.corsi_seguiti[$index]" ng-repeat="n in CorsiScuolaNuoto">
									{{n.nome}}</md-checkbox>
								</div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>

<!--             </div> -->
        </md-card>
        </md-dialog-content>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="saveNewInstructor()" style="padding: 0 10px;">Add Instructor</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>

